<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a href="#" data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('MONA')" data-ng-class="{active: currency.symbol == 'MONA'}">MONA</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('mMONA')" data-ng-class="{active: currency.symbol == 'mMONA'}">mMONA</a>
  </li> 
</ul>

